---
import { SearchAndFilter } from '../components/SearchAndFilter';
import PageLayout from '../layouts/PageLayout.astro';
import { getCollection } from 'astro:content';


const plants = await getCollection('plants');
---

<PageLayout title="Grow">
	<main>
		<section>
			<SearchAndFilter client:load docs={plants} />
		</section>
	</main>
</PageLayout>
